{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>


<p>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            When a storm's maximum sustained winds reach 74 mph, it is called a hurricane. The Saffir-Simpson Hurricane Wind Scale is a 1 to 5 rating, or category,
            based on a hurricane's maximum sustained winds.
            The higher the category, the greater the hurricane's potential for property damage.
            World Hurricane Report shows as all the hurricanes that happend between the years 1950-2012.
            The report shows us the name of the hurricane, the year, the WindsMPH, the PressureMB, how many times he showed, the base damage,
            the affected states, and deathes.
        </div>
    </div>
    <h3>Who first discovered hurricanes?</h3>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            1494 During his second voyage, Christopher Columbus shelters his fleet from a tropical cyclone.
            This is the first written European account of a hurricane.
        </div>
    </div>
   
    <h3>
        What weakens a hurricane?
    </h3>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            Sometimes, even in the tropical oceans, colder water churned up from beneath the sea
            surface by the hurricane can cause the hurricane to weaken
            (see Interaction between a Hurricane and the Ocean).

        </div>
    </div>
    <h3>
        How long does it take for hurricanes to form?
    </h3>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            A: A hurricane usually takes days to develop. The fastest a hurricane might form is in 48 hours or two days.
            If a cluster of thunderstorms already exists then it might only take a day.

        </div>
    </div>

    <br />
    <br />

    <div class="col-md-4"><img src="https://i.ytimg.com/vi/AsD5u6k6dKI/maxresdefault.jpg" width="300" height="120"></div>
    <div class="col-md-4"><img src="https://image.winudf.com/v2/image/Y29tLkRyZWFtV2FsbHBhcGVycy5TdG9ybVNlYTAxX3NjcmVlbnNob3RzXzBfNzBlYWY1YTQ/screen-0.jpg?fakeurl=1&type=.jpg" width="300" height="120"></div>
    
</p>

{% endblock %}
