{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    <div class="row my-grid-borders">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Year</td>
                    <td>the year when the hurricane hit.</td>
                </tr>
                <tr>
                    <td>WindsMPH</td>
                    <td>Wind speed, or wind flow speed of the hurricane.</td>
                </tr>
                <tr>
                    <td>PressureMB</td>
                    <td> the atmospheric force exerted on one square meter of surface. As terrain rises above sea level. </td>
                </tr>
                <tr>
                    <td>times</td>
                    <td>how many times the hurricane hit.</td>
                </tr>
                <tr>
                    <td>BaseDamage</td>
                    <td>The damage created by the hurricane.</td>
                </tr>
                <tr>
                    <td>AffectedStates</td>
                    <td>The states that were affected by the hurricane.</td>
                </tr>
                <tr>
                    <td>deaths</td>
                    <td>How many people died.</td>
                </tr>

            </tbody>
        </table>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .collapsible {
            background-color: #061d53;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>

    <button type="button" class="collapsible">Click for Easy dataset</button>
    <div class="content">
        <p>

            <div class="row my-grid-borders">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Year</td>
                            <td>1950</td>
                        </tr>
                        <tr>
                            <td>WindsMPH</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>PressureMB</td>
                            <td>958</td>
                        </tr>
                        <tr>
                            <td>times</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>BaseDamage</td>
                            <td>3.3</td>
                        </tr>
                        <tr>
                            <td>AffectedStates</td>
                            <td>Florida</td>
                        </tr>
                        <tr>
                            <td>deaths</td>
                            <td>2</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </p>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

    </script>
    <br />
    <br />
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</address>        


{% endblock %}
