{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hurricane disasters</h1>
    <p class="lead">Data Science Project / Romi Azouri</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My project</h2>
        <p>
            The history of hurricanes and all other Natural phenomena always have been interested me,
            so I wanted to take one step forward to find out more about the history of hurricanes.

        <p> <div class="col-md-4"><img src=" https://media.treehugger.com/assets/images/2018/07/nature-benefits.jpg.860x0_q70_crop-scale.jpg" width="200" height="120" /></div></p>
    </div>
    <div class="col-md-4">
        <h2>Some facts</h2>
        <p>
            1. Hurricanes are giant tropical storms that produce heavy rainfall and super-strong winds.
            <br />
            <br />
            2. Hurricanes form over warm ocean waters near the equator. The warm, moist air above the ocean surface rises, causing air from surrounding areas to be sucked in. This new air then becomes warm and moist, and rises, too, beginning a continuous cycle that forms clouds.
            The clouds then rotate with the spin of the Earth. If there is enough warm water to feed the storm, a hurricane forms!
            <br />
            <br />
            3. The strong spiraling winds of a hurricane can reach speeds of up to 320kmph, strong enough to rip up entire trees and destroy buildings!
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <div class="col-md-4"><img src=" https://r1.ilikewallpaper.net/iphone-x-wallpapers/download/83462/storm-near-leafed-plants-iphone-x-wallpaper-ilikewallpaper_com.jpg" width="200" height="0" /></div>
        </p>
        <p/>
    </div>
</div>


{% endblock %}
