{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table border="1" >
    <tr>
        <td>
            <img src="https://www.ecopetit.cat/wpic/mpic/37-376483_1920x1200-nature-wallpapers-storm-wallpaper-hd.jpg" width="300" height="300"/>
        </td>
        <td>
            <img src="https://wallpaperaccess.com/full/529038.jpg" width="300" height="300"/>
        </td>
        <td>
            <img src="https://lh3.googleusercontent.com/proxy/lZXvaNZJzJGd1_dMXxrYUe5B-SsHb6m3neuGUp_u-Qe3Vc5CFDdigczdv1roDfLAAgem525vx4KTjBkIC7U7WfAmSkJiAQ4PkdI-nfpzhEJTj6GM1NuktdEcVjIWhLo1fyOHzh9I5Dl59xwZ2qIGBfH0fwlEFwPP" width="300" height="300"/>
        </td>

    </tr>


</table>

{% endblock %}
