{% extends "layout.html" %}

{% block content %}



<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table border="1" >
    <tr>
        <td>
            <img src="https://www.ecopetit.cat/wpic/mpic/37-376483_1920x1200-nature-wallpapers-storm-wallpaper-hd.jpg" width="300" height="300"/>
        </td>
        <td>
            <img src="https://wallpaperaccess.com/full/529038.jpg" width="300" height="300"/>
        </td>
        <td>
            <img src="https://wallpaperaccess.com/full/1769642.jpg" width="300" height="300"/>
        </td>

    </tr>


</table>

{% endblock %}
